# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# IDE Files
# ==========================
.idea/
.vscode/

# ==========================
# History
# ==========================
.history/

# ==========================
# Audio Files
# ==========================
*.wav
*.mp3

# ==========================
# Downloaded AI Models
# ==========================
pretrained_models/

# ==========================
# Voice Authentication Data
# ==========================
voice_profiles/

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db